################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.opencode/plans
/src/.vscode
/src/AmbulatoryCarePortal.Application/bin/Debug/net8.0/LatoFont/Lato-Black.ttf
/src/.playwright-mcp
